<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="WIN_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                            Initial Catalog=VEHICULOS_DES_APP_ULT_GEN; 
                            Integrated Security=True;"/>


		<add name="SQL_AUT" providerName="System.Data.SqlClient" connectionString="Data Source=.; 
                            Initial Catalog=VEHICULOS_DES_APP_ULT_GEN; 
                            Persist Security Info=True;
                            User ID=sa;
                            Password=;"/>
	</connectionStrings>
	<appSettings>
		<add key="SP_LogIn_Usuarios" value="dbo.USP_InicioSesion_Usuarios"/>
		<add key="SP_INFO_Usuarios" value="dbo.USP_Informacion_Usuarios" />

		
		<add key="SP_LST_Hoteles" value="dbo.USP_Listar_Hoteles" />
		<add key="SP_FIL_Hoteles" value="dbo.USP_Filtrar_Hoteles" />
		<add key="SP_INFO_Hoteles" value="dbo.USP_Informacion_Hoteles" />
		<add key="SP_Insert_Hoteles" value="dbo.USP_Insertar_Hoteles" />
		<add key="SP_Update_Hoteles" value="dbo.USP_Modificar_Hoteles" />
		<add key="SP_Delete_Hoteles" value="dbo.USP_Eliminar_Hoteles" />

		<add key="SP_LST_Habitaciones" value="dbo.USP_Listar_Habitaciones" />
		<add key="SP_FIL_Habitaciones" value="dbo.USP_Filtrar_Habitaciones" />

	</appSettings>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>